
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.header .left h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark);
}

.header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.header .left .breadcrumb li{
    list-style: none;
    color: var(--dark);
}

.header .left .breadcrumb li a{
    color: var(--gray);
    text-decoration: none;
}

.header .left .breadcrumb li .welcome{
    font-size: 26px;
}

.header .left .breadcrumb li a.nameuser{
    color: var(--primary);
    pointer-events: none;
}
