.UpdateData{
    background: var(--white);
    margin: 50px;
    border-radius: 10px;
    padding: 5% 0 5% 15%;
    width: 90%;
}

.TitleProfile{
    color: var(--dark);
    margin: 0 0 5% 15%;
}

.margin{
    margin: 2% 0 2% 5%;
}