.containter-table{
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.containter-table>div{
    border-radius: 20px;
    background: var(--white);
    padding: 24px;
    overflow-x: auto;
}

.containter-table .header-table{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.containter-table .crud-table{
    flex-grow: 1;
    flex-basis: 500px;
}

.containter-table .crud-table table{
    width: 100%;
    border-collapse: collapse;
}

.containter-table .crud-table table th{
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    width: 10%;
}

.containter-table .crud-table table td{
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    width: 10%;
}