.containter-table{
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.containter-table{
    border-radius: 20px;
    background: var(--white);
    padding: 24px;
    overflow-x: auto;
}

.containter-table .header-table{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.containter-table .header-table .open-modal{
    color: var(--index-white);
    background: var(--blue);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background: var(--blue-hover);
    }

}

.containter-table .crud-table{
    flex-grow: 1;
    flex-basis: 500px;
}

.containter-table .crud-table table{
    width: 100%;
    border-collapse: collapse;
}

.containter-table .crud-table table th{
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    width: 10%;
}

.containter-table .crud-table table td{
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    width: 10%;
}

.containter-table .crud-table table td .buttons{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: var(--index-white);
    
}

.containter-table .crud-table table td .update-button{
    background: var(--green);
    &:hover{
        background: var(--green-hover);
    }
}

.containter-table .crud-table table td .chat-button{
    background: var(--yellow);
    &:hover{
        background: var(--yellow-hover);
    }
}

.containter-table .crud-table table td .delete-button{
    background: var(--red);
    &:hover{
        background: var(--red-hover);
    }
}
