*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

:root{
  --index-dark: #363949;
  --index-white: #fefefe;
  --index-light: #f6f6f6;
  --white: #fff;
  --blue: #009688;
  --blue-hover: #037a6e;
  --gray: #777;
  --grey: #eee;
  --primary: #1976d2;
  --dark: #363949;
  --modal: rgba(79, 79, 79, 0.7);
  --light: #f6f6f9;
  --red: #d32f2f;
  --yellow: #fbc02d;
  --green: #32ba38; 
  --dark-white: #fff3f3;
  --red-hover: #b32525;
  --light-primary: #cfe8ff;
  --light-red: #fecdd3;
  --light-yellow: #fff2c6;
  --light-green: #bbf7d0;
}

.dark{
  --light: #181a1e;
  --white: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
  background: var(--grey);
}

::-webkit-scrollbar {
  display: none;
}
